{% extends "two_factor/_base.html" %}
{% load i18n %}
{% load two_factor_tags %}

{% block header %}

    <title>{{ index_site_title }}</title>
    <style>
        .form-container {
            display: flex;
            justify-content: center;
            min-height: 30vh;
        }

        .login-form {
            width: 100%;
            max-width: 500px;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    </style>

{% endblock %}
{% block extra_media %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <section id="login" class="section" style="padding-top: 155px; scroll-margin-top: 98px;
    overflow: clip">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>{% trans '2FA Doğrulama Ayarları' %}</h2>

    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

{% endblock %}
{% block d_content %}

    <div class=" form-container">
        <div class="login-form form-control">

            {% if default_device %}

                <h4>{% trans "Backup Tokens / Yedek Kurtarma Jetonları" %}</h4>
                <p>
                    {% blocktrans trimmed %}Yanınızda herhangi bir cihaz yoksa
                        Yedek jetonları kullanarak hesabınıza erişebilirsiniz.{% endblocktrans %}
                    {% blocktrans trimmed count counter=backup_tokens %}
                        Yalnızca bir yedek jetonunuz kaldı.
                    {% plural %}
                        {{ counter }} yedek jetonunuz kaldı.
                    {% endblocktrans %}
                </p>
                <p><a href="{% url 'two_factor:backup_tokens' %}"
                      class="btn btn-info">{% trans "Kodları Gör" %}</a></p>

                <h4>{% trans "2FA Doğrulamayı Kapat" %}</h4>
                <p>{% blocktrans trimmed %}Güvenliğiniz için bunu yapmanızı şiddetle tavsiye etmiyoruz,
                    ancak hesabınız için iki faktörlü kimlik doğrulamayı devre dışı
                    bırakabilirsiniz.{% endblocktrans %}</p>
                <p><a class="btn btn-secondary" href="{% url 'two_factor:disable' %}">
                    {% trans "Devre Dışı Bırak" %}</a></p>
            {% else %}
                <p>{% blocktrans trimmed %}Cihazınız için iki faktörlü kimlik doğrulama etkin değil
                    . Gelişmiş hesap için iki faktörlü kimlik doğrulamayı etkinleştirin.{% endblocktrans %}</p>
                <p><a href="{% url 'two_factor:setup' %}" class="btn btn-primary">
                    {% trans "2FA Doğrulamayı Aç" %}</a>
                </p>
            {% endif %}
        <div class="form-group form-button">
                    <a class="btn btn-outline-success" href="{% url 'profile_security' %}">{% trans 'Profile Dön' %}</a>
                </div>
        </div>
    </div>
    </div>

    </section>
{% endblock %}
