{% extends 'base.html' %}
{% load static %}

{% block header %}

    <title>{{ index_site_title }} - Ajanda</title>
    <style>
        .form-container {

            margin: 0 auto;
            padding: 20px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }

        .form-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-container p {
            text-align: center;
            font-size: 0.95rem;
            color: #6c757d;
            margin-bottom: 20px;
        }

        .form-container button {
            width: 100%;
            padding: 10px 20px;
            background: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .form-container button:hover {
            background: #218838;
        }

        .form-container a {
            display: block;
            text-align: center;
            margin-top: 15px;
            color: #007bff;
            text-decoration: none;
        }

        .form-container a:hover {
            text-decoration: underline;
        }

        input::placeholder {
            color: #6c757d;
            opacity: 1;
            text-align: center;
        }

        #calendar {
            max-width: 100%;
            margin: 0 auto;
        }

        @media (max-width: 768px) {
            #calendar {
                max-width: 100%;
                margin: 0 auto;
                padding: 0;
            }

            .fc-toolbar {
                flex-wrap: wrap;
                text-align: center;
            }
        }

    </style>

{% endblock %}

{% block content %}
    <section id="password-reset" class="section" style="padding-top: 100px; scroll-margin-top: 98px;
    overflow: clip">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
{% endblock %}
{% block d_content %}
    <div class="card border-0 shadow-sm">
        <div class="card-body p-0">
            <div class="row g-0">
                <!-- Sidebar -->
                <div class="col-lg-3 border-end">
                    <div class="p-4">
                        <div class="nav flex-column nav-pills">
                            <a class="nav-link" href="{% url 'note_dashboard' %}"><i class="fas fa-user me-2"></i>Ana
                                Menü</a>
                            <a class="nav-link" href="{% url 'calendar_view' %}"><i
                                    class="fas fa-lock me-2"></i>Takvim / Etkinlik</a>
                            <a class="nav-link active" href="{% url 'list_notes' %}"><i
                                    class="fas fa-credit-card me-2"></i>Takvim / Not</a>
                            <a class="nav-link " href="{% url 'filter_notes' %}"><i
                                    class="fas fa-chart-line me-2"></i>Not Ara</a>
                            <a class="nav-link" href="{% url 'how_to_use' %}"><i
                                    class="fas fa-chart-line me-2"></i>Nasıl Kullanırım?</a>
                            <a class="nav-link" href="{% url 'version_info' %}"><i
                                    class="fas fa-chart-line me-2"></i>Sürüm Notları</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="p-4">
                        <div class="mb-4">

                            <div class="row g-3">
                                <div class="form-container  mt-2">
                                    <h2>Yeni Not Ekle</h2>
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                        <a href="{% url 'list_notes' %}" class="btn btn-secondary">Geri</a>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
{% endblock %}