{% load static %}

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto">
            <img src="{% get_media_prefix %}img/logo.png" alt="">
            <h2 class="sitename">Sanal Ajanda</h2>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{% url 'index' %}" class="active">Home<br></a></li>
                <li><a href="{% url 'index' %}#stats">Hizmetler</a></li>
                <li><a href="{% url 'index' %}#pricing">Fiyatlandirma</a></li>
                <li><a href="{% url 'index' %}#faq">SSS</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>

                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}">Cikis</a></li>
                {% endif %}
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        {% if user.is_authenticated %}
           <a class="btn-getlogin flex-md-shrink-0" href="{% url 'note_dashboard' %}">Ajanda</a>
            <a class="btn-getstarted flex-md-shrink-0" href="{% url 'profile' %}">Profil</a>
        {% endif %}
        {% if not user.is_authenticated %}
            <a class="btn-getlogin flex-md-shrink-0" href="{% url 'login' %}">Giris</a>
            <a class="btn-getstarted flex-md-shrink-0" href="{% url 'register' %}">Kayit Ol</a>
        {% endif %}

    </div>
</header>