{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>{{ index_site_title }}</title>
    <style>
        .message-box {
            background-color: #f8f9fa; /* Hafif gri arka plan */
            border: 1px solid #dee2e6; /* İnce kenarlık */
            border-radius: 8px; /* Köşeleri yuvarlat */
            padding: 20px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
            max-width: 800px;
        }

        .message-box h2 {
            color: #495057; /* Metin rengi */
            font-weight: bold;
        }

        .message-box p {
            color: #6c757d; /* İkincil metin rengi */
            font-size: 1rem;
            margin: 10px 0;
        }

        .btn-primary {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <section id="giris" class="section" style="padding-top: 155px; scroll-margin-top: 98px;
    overflow: clip">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>E-postanızı kontrol edin</h2>
        </div><!-- End Section Title -->

        <div class="container message-box" data-aos="fade-up" data-aos-delay="100">
{% endblock %}

{% block d_content %}
            <h2>E-posta Gönderildi</h2>
            <p>Girdiğiniz e-posta adresi için bir hesap mevcutsa, kısa süre içinde bir parola sıfırlama e-postası alacaksınız.</p>
            <p>Daha fazla talimat için lütfen gelen kutunuzu (ve spam klasörünüzü) kontrol edin.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Giriş Sayfasına Dön</a>
        </div>
    </section>
{% endblock %}
