{% extends 'base.html' %}
{% load static %}

{% block header %}

    <title>{{ index_site_title }}</title>

{% endblock %}

{% block content %}
    <section id="giris" class="section" style="padding-top: 155px; scroll-margin-top: 98px;
    overflow: clip">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Password Reset Successful</h2>

        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            {% endblock %}
{% block d_content %}
            <p>Your password has been set. You can now log in with your new password.</p>

            <a href="{% url 'login' %}">Log In</a>
        </div>
    </section>
{% endblock %}