{% extends 'base.html' %}
{% load static %}

{% block header %}

    <title>{{ index_site_title }}</title>

{% endblock %}

{% block content %}
    <section id="giris" class="section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Giris</h2>

        </div><!-- End Section Title -->

        <div class="container">
            <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset Password</button>
</form>
        </div>
    </section>
{% endblock %}