{% extends 'base.html' %}
{% load static %}

{% block header %}

    <title>{{ index_site_title }}</title>

{% endblock %}

{% block content %}
    <section id="giris" class="section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Set a New Password</h2>

        </div><!-- End Section Title -->

        <div class="container">

            <p>Enter your new password below:</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Reset Password</button>
            </form>

            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </section>
{% endblock %}