{% extends 'base.html' %}
{% load static %}

{% block header %}

    <title>{{ index_site_title }}</title>

{% endblock %}

{% block content %}
    <section id="giris" class="section" style="padding-top: 155px; scroll-margin-top: 98px;
    overflow: clip">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Giris</h2>

        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
           {% endblock %}
{% block d_content %}
            <p>Enter your email address below, and we’ll send you instructions for setting a new one.</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Send Password Reset Email</button>
            </form>

            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </section>
{% endblock %}