{% extends 'base.html' %}
{% load static %}

{% block header %}

    <title>{{ index_site_title }}</title>

{% endblock %}

{% block content %}
    <section id="giris" class="section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Check Your Email</h2>

        </div><!-- End Section Title -->

        <div class="container">

            <p>If an account exists for the email address you entered, you will receive a password reset email
                shortly.</p>
            <p>Please check your inbox (and spam folder) for further instructions.</p>

            <a href="{% url 'login' %}">Back to Login</a>

            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </section>
{% endblock %}