{% extends 'base.html' %}
{% load static %}

{% block header %}

    <title>{{ index_site_title }}</title>

{% endblock %}

{% block content %}
    <section id="giris" class="section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Giris</h2>

        </div><!-- End Section Title -->

        <div class="container">
            {% csrf_token %}
            <p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><a href="{% url 'profile_edit' %}">Edit Profile</a></p>
        </div>
    </section>
{% endblock %}