{% extends 'base.html' %}
{% load static %}

{% block header %}

    <title>{{ index_site_title }}</title>

{% endblock %}

{% block content %}
    <section id="giris" class="section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Giris</h2>

        </div><!-- End Section Title -->

        <div class="container">
            <p>Welcome, {{ user.email }}! Your current membership level is:</p>
            <p><strong>{{ user.membership_type }}</strong></p>


            {% if user.requested_membership_type %}
                <p>You have requested to upgrade to: <strong>{{ user.requested_membership_type }}</strong>. Waiting for
                    admin approval.</p>
            {% elif user.membership_type == 'standard' %}
                <p>You can upgrade your membership to unlock additional features!</p>
                <form method="post" action="{% url 'upgrade_membership' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Upgrade</button>
                </form>
            {% else %}
                <p>Your membership level is already upgraded.</p>
            {% endif %}


            <p><a href="{% url 'profile' %}">Back to Profile</a></p>
        </div>
    </section>
{% endblock %}