<!DOCTYPE html>
<html lang="tr">

<head>
    {% include 'includes/head.html' %}
    {% block header %}

    {% endblock %}
{% block extra_media %}
   {% endblock %}
</head>

<body class="index-page">
{% include 'includes/navbar.html' %}
<main class="main">

    {% block content %}

    {% endblock %}

{% include 'includes/messages.html' %}

    {% block d_content %}

    {% endblock %}

    {% block extra_scripts %}

    {% endblock %}

</main>

{% include 'includes/footer.html' %}
{% include 'includes/scripts.html' %}
</body>
</html>